.forecast-loading{
	padding-left: 15px;
	color: yellow;
}

.forecast-item-container{
	padding-left: 24px;
	padding-right: 24px;
}

.forecast-item{
	padding-left: 15px;
	color: white;
}

.locationList{
	max-height: 85vh;
	overflow: auto;
}
/*
cuando se llegue una medida estimada se modifica el cambio
medida del flexbox cuando sea una pantalla pequeña
*/
@media(max-width: 64em){
	.locationList{
		max-height: 45vh;
		margin-bottom: 20px;
	}
}

.forecast-title{
 color: white;
 text-align: center;
 padding-top: 15px;
 padding-bottom: 15px;
}